.leaf-login-view {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, #1d8ef5, #4ca9f7);
  overflow: auto;
}
.leaf-login-view-main {
  position: relative;
  padding-top: 60px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background: $leaf-login-view-background;
  &__brand {
    position: absolute;
    top: 0;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $leaf-login-view-brand-width;
    
    &--divider {
      margin: 0 8px;
    }

    &--logo {
      width: 50px;
      height: 32px;
      background: $leaf-login-view-brand-logo;
    }

    &--text {
      font-size: $leaf-login-view-brand-font-size;
      color: #fff;
    }
  }
  &__footer {
    position: fixed;
    bottom: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 100%;
  }
 
}