.leaf-view-container {
  min-height: 100%;
  overflow-y: auto;
  &-head {
    display: flex;
    flex-direction: column;
    background-color: $leaf-primary-color-white;
    line-height: 50px;

    &-info,
    &--meta {
      display: inline-block;
      width: 100%;
    }

    &-info {
      &--title {
        float: left;
        padding-left: 16px;
      }
      &--cont {
        float: right;
      }
    }
    
  
    .el-breadcrumb {
      line-height: normal;
      margin-bottom: 16px;
    }
  
    .el-button {
      // margin-left: -56px;
      color: rgb(66, 90, 112);;
      border-color: #dce0e3;
      background-color: white;
      padding: 4px;
      font-size: 14px;
      margin-right: 8px;
      border-radius: 50%;
  
      i {
        margin-right: 0;
      }
  
      &:hover {
        background-image: linear-gradient(rgb(250, 251, 251), rgb(234, 236, 238));
      }
    }
  
    h2 {
      font-size: 14px;
      color: #333333;
    }
  }

  &-body {
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
    background: $leaf-primary-color-white;
    border-top: 1px solid $leaf-primary-color-border;
    overflow-y: auto;
  }
}