$leaf-aside-menu-bg-color:#2C2E48 !default;
// leaf-login-view
$leaf-login-view-background: url("~@/assets/img/bg_login.png") 0 center no-repeat !default;
// dashboard
$leaf-dashboard-background: url("~@/assets/img/avatar.png");
// logo
$leaf-header-logo-background: url("~@/assets/img/logo.png") 0 center no-repeat !default;

:export {
  theme: $leaf-aside-menu-bg-color;
}

